@charset "UTF-8";

header, nav, aside, article, footer, section, main, figure, figcaption {
	display: block;
}
* {
 	margin:0;
	border:0;
	padding:0;
}
*:focus {
    outline: 0;
}

body {
  font-family: Bahnschrift;
  background: black;
  min-height: 100vh;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav ul li {
  color: white;
  padding: 1px;
}

h1 {
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px red;
  font-size: 2.75em;
	padding: 25px 0 15px 0;
	text-align: center;
}

main {
	background-color: #bdb7b7;
  width: 85%;
  text-align: center;
  margin: auto;
}
